p {
    margin-top: 0.2px;
    text-align: center;
}

#barrasuperior {
    display: flex;     
    align-items: center;
    position: relative;    
}

.dropdown {
    width: 20px;
    height:5px; 
    justify-content: left; 
}
.flecha {
    width: 35px;
    height:20px; 
    margin-right: 25px;
    justify-content: left; 
}



.right-items {    
    margin-left: auto;    
}

.videollamada {
    width: 50px;
    height: 40px;
    margin-right: 15px;    
}
.escribir {
    width: 45px;
    height: 40px;
    margin-left: 15px;
    margin-right: 0px;     
}

#buscador {
    background-color: rgb(230, 228, 228);
    height: 35px;
    border-radius: 4px;
    border: none;  
    margin-left: 5px; 
    margin-right: 5px;    
}

h4.sol {
    color: rgb(17, 131, 225);
}

.mensol {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-top: 0px;    
}

.profile1, .profile2, .profile3, .profile4, .profile5, .profile6, .profile7, .profile8 {
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    margin-bottom: 0.2px;  
}

.seccion-chat-horizontal {
    display: flex;
    flex-wrap: wrap;  /*lo que quiero es que no se muestren cuando acabe la pantalla*/
}

.chat {
    display: flex; 
    justify-content: space-between;  
}

.nombre-foto-vertical {
    display: flex;
    justify-content: left;
    align-items: center;   
}

/*falta aro si hay nuevas historias y punto verde si están conectados*/
