body {
    box-sizing: border-box;
}
p {
    margin-top: 0.2px;
    text-align: center;
}

#barrasuperior {
    display: flex;     
    align-items: center;
    position: relative;    
}

.dropdown {
    width: 20px;
    height:5px; 
    justify-content: left; 
}
.flecha {
    width: 35px;
    height:20px; 
    margin-right: 25px;
    justify-content: left; 
}



.right-items {    
    margin-left: auto;    
}

.videollamada {
    width: 50px;
    height: 40px;
    margin-right: 15px;    
}
.escribir {
    width: 45px;
    height: 40px;
    margin-left: 15px;
    margin-right: 0px;     
}

.caja-buscador {
    position: relative;
}

#buscador {
    background-color: rgb(230, 228, 228);
    width: 98%;   
    height: 35px;
    border-radius: 4px;
    border: none;  
    margin-left: 5px; 
    margin-right: 5px;    
}

h4.sol {
    color: rgb(17, 131, 225);
}

.mensol {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-top: 0px;    
}

.profile {
    object-fit: cover; /*que la imagen se contenga en el margen*/
    height: 60px;
    width: 60px;
    border-radius: 40px;
    margin: 15px;
    margin-bottom: 0.2px;  
}

.seccion-chat-horizontal {
    display: flex;    
    overflow-x: auto;   /*ocultar la barra de scroll*/
}

.chat {
    display: flex; 
    justify-content: space-between;     
}

.camara {
    margin-right: 20px;
}
    

.nombre-foto-vertical {
    display: flex;
    justify-content: left;
    align-items: center;   
}

/*falta aro si hay nuevas historias en chat horizontal 
punto verde si están conectados en ambos listados de chat
lupa en input i corregir input
barra gris del final
barra transparente de arriba que deja ver la hora del móvil batería etc.
encima de foto perfil de usuario, la nota
*/
